@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body {
    background: linear-gradient(to right, #000000, #923CB5);
    overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.5s;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding : 30px 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
}
.logo {
    color: white;
    font-size: 2em;
    pointer-events: none;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 1000;
    letter-spacing: 5px;
    margin-right: 215px;
}
.navigation a {
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    border-radius: 20px;
    margin: 0 4px;
    font-weight: 650;
    transition: 0.5s;
}
.navigation a:hover, .navigation a.active {
    background: white;
    color: #923CB5;
}
.parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#title {
    color: white;
    font-size: 4em;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 5px;
    text-align: center;
    position :absolute;
    text-shadow: 1px 1px 5px #00FFFF;
}
#space1 {
    height: 85vh;
    width: 100vh;
    position: absolute;
    right: 170px;
    bottom: 200px;

}
#space2 {
    height: 30vh;
    width: 30vh;
    position: absolute;
    left: 350px;
    bottom: 450px;
    transform: rotate(23.5deg);
}

#space3 {
    height: 60vh;
    width: 60vh;
    position: absolute;
    left: 200px;
    bottom: 60px;
    transform: rotate(45deg);
}
#space4 {
    position: absolute;
    height: 40vh;
    width: 40vh;
    right: 500px;
    top: 400px;
}
.des {
    color: white;
    position: relative;
    padding: 100px;
    text-align: center;
    font-size: 1.5em;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 1.5;
}
.des h2 {
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 5px;
    margin-bottom: 20px;
    text-shadow: 1px 1px 5px #FF00FF;
}
.sec p {
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 1.5;
    margin-bottom: 20px;
    text-shadow: 1px 1px 5px #FF00FF;
}

